@*Index.cshtml*@
@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Hello World!</h1>
    <h1 class="display-4">The current time is: </h1>

    <h5>@(DateTime.Now);</h5>
</div>
